.Question {
  padding-bottom: 50px;
  padding-top: 20px;
  font-size: 24px;
}

.Entity {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  padding-top: 20px;
}

.QuestionText {
  font-size: 24px;
  display: inline-block;
}

.ellipse {
  font-size: 24px;
}

Mark {
  width: 100%;
  border-radius: 20px;
  padding-right: 5px;
}

.half {
  height: 50%;
}

.word {
  height: 60px;
  display: inline-block;
  margin-bottom: 5px;
}
.word-mention {
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 12px;
  height: 35px;
}
.hidden {
  visibility: hidden;
  width: 0px;
}

.center {
  margin: 0 auto !important;
}
.question-header {
  background-color: #dbdbdb;
}
