.Question {
  padding-left: 50px;
  padding-bottom: 50px;
  padding-top: 20px;
  padding-right: 50px;
  font-size: 24px;
}

.Entity {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  padding-top: 20px;
}

.QuestionText {
  font-size: 24px;
  display: grid;
  grid-template-columns: 125px 125px 125px 125px 125px 125px 125px 125px;
}

.ellipse {
  font-size: 24px !important;
}

Mark {
  width: 100%;
  border-radius: 20px;
  padding-right: 5px;
}

.half {
  height: 50%;
}

.chip {
  font-size: 24px !important;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
  height: 30px !important;
  margin-right: 10px !important;
}
