 .Question {
  padding-left: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-right: 20px;
  font-size: 30px;
}


.Entity {
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  padding-top: 20px;
}

.QuestionText {
  font-size: 36px;
}


.ellipse{
  font-size : 36px !important; 
 
}

Mark {
  width: 100%;
  border-radius: 20px;
  padding-right: 5px;
}

.chip {
  font-size: 30px !important;
  padding-bottom: 20px !important; 
  padding-top: 20px !important;
  height: 20px !important;
  margin-right: 10px !important;
}
